#streak-number-label {
    font-size: 3rem;
    font-family: "Bangers", sans-serif;
    font-style: italic;
    color: #333333;
    
    position: absolute;
    top: 50%;
    left: 10%;
}

/* Habit Board - main area */
#habit-board {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    /* max-width: 992px; */
}
