#loading-screen {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%; /* Adjust width to match the parent's max width setting */
    height: 100%;
    padding: 5vw;
    background-color: #fff;
    text-align: center;
    flex: 1; /* Allows the screen to grow and fill available space */

    animation: fade-after-load 3s linear;
}

#loading-screen > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image-container {
    max-width: 40vw;
    max-height: 40vh;
    margin: 0 auto 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.loading-bar {
    width: 60%;
    height: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.loading-bar-inner {
    width: 100%; /* Change this value to simulate loading progress */
    height: 100%;
    background-color: #800080; /* Color for loaded portion */
    animation: progress 2s linear;
}

@keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes fade-after-load {
    0% { opacity: 0%; }
    25% { opacity: 100%; }
    50% { opacity: 100%; }
    75% { opacity: 100%; }
    100% { opacity: 0%; }
}

footer {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: #f2f2f2;
    border-top: 1px solid #e1e1e1;
}
