body {
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f0faff; 
}

header h1 {
    color: #333;
}

h2 {
    color: #007BFF;
}

section {
    margin-bottom: 20px;
    background-color: #ffffff; 
    padding: 15px;
    border-radius: 5px;
}
